---
import { Icon } from "astro-icon/components";
---

<section
  class="bg180 max-w-[100vw] h-[100vh] flex justify-between items-center relative flex-wrap"
>
  <div class="flex-1 flex justify-center">
    <div
      data-aos="zoom-in"
      data-aos-delay="100"
      class="w-[200px] h-[200px] md:w-[300px] md:h-[300px] rounded-full"
    >
      <img src="images/dp.png" class="rounded-full object-cover" />
    </div>
  </div>
  <div class="flex-1 flex justify-center">
    <div class="text-white font-mono md:text-4xl text-2xl flex flex-col gap-4">
      <h1 class="flex flex-col gap-2 justify-start items-start">
        <span data-aos="fade-left" data-aos-delay="100">Hi!</span>
        <span data-aos="fade-left" data-aos-delay="200">I'm Krishnamurthy,</span
        >
        <span
          data-aos="fade-left"
          data-aos-delay="300"
          class="flex justify-start items-start">a fullstack developer.</span
        >
      </h1>
      <div class="flex gap-16">
        <a
          href="https://github.com/krishna2k3"
          target="_blank"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <Icon name="mdi:github" class="h-10 w-10" />
        </a>
        <a
          href="https://www.linkedin.com/in/krishnamurthy-r-2k3/"
          data-aos="fade-up"
          data-aos-delay="200"
          target="_blank"
        >
          <Icon name="mdi:linkedin" class="h-10 w-10" />
        </a>
        <a
          href="mailto:krishna.ravi.contact@gmail.com"
          target="_blank"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <Icon name="mdi:gmail" class="h-10 w-10" />
        </a>
      </div>
    </div>
  </div>

  <style>
    .bg180 {
      background: conic-gradient(from 180deg, #1f1f1f, #147e72);
    }

    @media (max-width: 767px) {
      .bg180 {
        background: conic-gradient(from 270deg, #1f1f1f, #147e72);
      }
    }

    .typewriter {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid #1f1f1f; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.1em; /* Adjust as needed */
      animation:
        typing 3.5s steps(40, end),
        blink-caret 0.75s step-end infinite;
    }

    .bg-secondary {
      background: linear-gradient(to right, #4b6cb7, #182848);
      transition: background 0.5s ease-in-out;
    }

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: white;
      }
    }
    section {
      scroll-snap-align: center;
    }
  </style>
</section>
