---
import { Icon } from "astro-icon/components";
---

<div class="bg180 max-w-[100vw] h-[100vh] flex justify-between items-center relative z-10">
  <div class="flex-1 flex justify-center">
    <div
      class="w-[200px] h-[200px] md:w-[300px] md:h-[300px] rounded-full bg-white"
    >
    </div>
  </div>
  <div class="flex-1 flex justify-center">
    <div class="text-white font-mono text-4xl flex flex-col gap-4">
      <h1 class="flex flex-col gap-2">
        <span>Hi!</span>
        <span>I'm Krishnamurthy,</span>
        <span>a fullstack developer.</span>
      </h1>
      <div class="flex gap-16">
        <Icon name="mdi:github" class="h-10 w-10" />
        <Icon name="mdi:linkedin" class="h-10 w-10" />
        <Icon name="mdi:gmail" class="h-10 w-10" />
      </div>
    </div>
  </div>
</div>

<style>
  .bg180 {
    background: conic-gradient(from 180deg, #1f1f1f, #14517e);
  }
</style>
