---
import { Icon } from "astro-icon/components";
import projectImages from "../projectImages";
import ProjectsCarousel from "./ProjectsCarousel";
// import ProjectsCarousel from "./ProjectsCarousel";
---

<section
  class="bg180 max-w-[100vw] min-h-[100vh] flex justify-between items-center flex-wrap-reverse"
>
  <div
    class="min-w-[340px] flex-1 flex justify-center items-center md:pl-12"
    data-aos="fade-right"
    data-aos-delay="300"
  >
    <ProjectsCarousel client:load />
  </div>
  <div class="flex-1
    flex
    justify-center">
    <div class="text-white font-mono text-4xl">
      <h1
        class="flex flex-col gap-2 -z-10"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        Projects
      </h1>
    </div>
  </div>
</section>
<style>
  .bg180 {
    background: conic-gradient(from 180deg, #1f1f1f, #147e72);
  }

  @media (max-width: 767px) {
    .bg180 {
      background: conic-gradient(from 270deg, #1f1f1f, #147e72);
    }
  }
</style>
