---
export interface Props {
  project: {
    name: string;
    description: string;
    src: string;
    stack: string[];
    link: string;
    // Add other project properties as needed
  };
}

const { project } = Astro.props;
---

<div>
  <h2>{project.name}</h2>
  <img class="w-96" src={project.src}/>
  <p>{project.description}</p>
  <!-- Render other project details here -->
</div>
