---
import { Icon } from "astro-icon/components";
import { skills } from "../skill";
---

<div
  class="bg max-w-[100vw] h-[100vh] flex justify-between items-center relative flex-wrap"
>
  <div class="flex flex-1 justify-center min-h-[50vh] items-center">
    <h2 class="text-white font-mono text-4xl">Skills</h2>
  </div>
  <div class="flex-1">
    <div class="flex flex-wrap md:p-24 min-w-[340px] p-4">
      {
        Object.entries(skills).map(([name, src]) => (
          <img src={src} alt={name} />
        ))
      }
    </div>
  </div>

  <style>
    .bg {
      background: conic-gradient(#147e72, #1f1f1f);
    }

    @media (max-width: 767px) {
      .bg {
        background: conic-gradient(from 270deg, #147e72, #1f1f1f);
      }
    }

    img {
      height: 30px;
    }
  </style>
</div>
