---
import { Icon } from "astro-icon/components";
---

<div class="bg max-w-[100vw] h-[100vh] flex justify-between items-center relative z-10">
  <div class="flex flex-1 justify-center">
    <h2 class="text-white font-mono text-4xl">Skills</h2>
  </div>
  <div class="flex-1">
    <div class="flex flex-wrap p-24">
      <img
        src="https://img.shields.io/badge/html5-%230000.svg?style=for-the-badge&logo=html5&logoColor=white"
        alt="HTML5"
      />
      <img
        src="https://img.shields.io/badge/css3-%230000.svg?style=for-the-badge&logo=css3&logoColor=white"
        alt="CSS3"
      />
      <img
        src="https://img.shields.io/badge/javascript-%230000.svg?style=for-the-badge&logo=javascript&logoColor=%23fff"
        alt="JavaScript"
      />
      <img
        src="https://img.shields.io/badge/typescript-%230000.svg?style=for-the-badge&logo=typescript&logoColor=white"
        alt="TypeScript"
      />
      <img
        src="https://img.shields.io/badge/Next-%230000?style=for-the-badge&logo=next.js&logoColor=white"
        alt="Next JS"
      />
      <img
        src="https://img.shields.io/badge/react-%230000.svg?style=for-the-badge&logo=react&logoColor=%23fff"
        alt="React"
      />
      <img
        src="https://img.shields.io/badge/redux-%230000.svg?style=for-the-badge&logo=redux&logoColor=white"
        alt="Redux"
      />
      <img
        src="https://img.shields.io/badge/-React%20Query-%230000?style=for-the-badge&logo=react%20query&logoColor=white"
        alt="React Query"
      />
      <img
        src="https://img.shields.io/badge/React%20Hook%20Form-%230000.svg?style=for-the-badge&logo=reacthookform&logoColor=white"
        alt="React Hook Form"
      />
      <img
        src="https://img.shields.io/badge/zod-%230000.svg?style=for-the-badge&logo=zod&logoColor=white"
        alt="Zod"
      />
      <img
        src="https://img.shields.io/badge/tailwindcss-%230000.svg?style=for-the-badge&logo=tailwind-css&logoColor=white"
        alt="TailwindCSS"
      />
      <img
        src="https://img.shields.io/badge/MUI-%230000.svg?style=for-the-badge&logo=mui&logoColor=white"
        alt="MUI"
      />
      <img
        src="https://img.shields.io/badge/radix%20ui-%230000.svg?style=for-the-badge&logo=radix-ui&logoColor=white"
        alt="Radix UI"
      />
      <img
        src="https://img.shields.io/badge/express.js-%230000.svg?style=for-the-badge&logo=express&logoColor=%23fff"
        alt="Express.js"
      />
      <img
        src="https://img.shields.io/badge/node.js-%230000?style=for-the-badge&logo=node.js&logoColor=white"
        alt="NodeJS"
      />
      <img
        src="https://img.shields.io/badge/postgres-%230000.svg?style=for-the-badge&logo=postgresql&logoColor=white"
        alt="Postgres"
      />
      <img
        src="https://img.shields.io/badge/mysql-%230000.svg?style=for-the-badge&logo=mysql&logoColor=white"
        alt="MySQL"
      />
      <img
        src="https://img.shields.io/badge/Redis-%230000.svg?style=for-the-badge&logo=redis&logoColor=white"
        alt="Redis"
      />
      <img
        src="https://img.shields.io/badge/MongoDB-%230000.svg?style=for-the-badge&logo=mongodb&logoColor=white"
        alt="MongoDB"
      />
      <img
        src="https://img.shields.io/badge/Prisma-%230000?style=for-the-badge&logo=Prisma&logoColor=white"
        alt="Prisma"
      />
      <img
        src="https://img.shields.io/badge/Drizzle-%230000?style=for-the-badge&logo=drizzle&logoColor=white"
        alt="Drizzle"
      />
      <img
        src="https://img.shields.io/badge/python-%230000?style=for-the-badge&logo=python&logoColor=white"
        alt="Python"
      />
      <img
        src="https://img.shields.io/badge/django-%230000.svg?style=for-the-badge&logo=django&logoColor=white"
        alt="Django"
      />
      <img
        src="https://img.shields.io/badge/numpy-%230000.svg?style=for-the-badge&logo=numpy&logoColor=white"
        alt="NumPy"
      />
      <img
        src="https://img.shields.io/badge/pandas-%230000.svg?style=for-the-badge&logo=pandas&logoColor=white"
        alt="Pandas"
      />
      <img
        src="https://img.shields.io/badge/c-%230000.svg?style=for-the-badge&logo=c&logoColor=white"
        alt="C"
      />
      <img
        src="https://img.shields.io/badge/c++-%230000.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white"
        alt="C++"
      />
      <img
        src="https://img.shields.io/badge/Postman-%230000?style=for-the-badge&logo=postman&logoColor=white"
        alt="Postman"
      />
      <img
        src="https://img.shields.io/badge/Render-%230000.svg?style=for-the-badge&logo=render&logoColor=white"
        alt="Render"
      />
      <img
        src="https://img.shields.io/badge/vercel-%230000.svg?style=for-the-badge&logo=vercel&logoColor=white"
        alt="Vercel"
      />
    </div>
  </div>

  <style>
    .bg {
      background: conic-gradient(#14517e, #1f1f1f);
    }

    img {
      height: 30px;
    }
  </style>
</div>
